<form class="formulaire" action="{{url_for('ajout_utilisateur')}}" method="post" name="ajout_utilisateur">
    {{ form.hidden_tag() }}

    <table>
        <tr>
            <td>
                <label for="pseudo">Pseudo de l'utilisateur</label>
            </td>
            <td>
                {{ form.pseudo(class_="pseudo") }}<br />
                <small id="pseudo">Entrer le pseudo de l'utilisateur</small>
            </td>
        </tr>

        <tr>
            <td>
                <label for="mail">Mail de l'utilisateur</label>
            </td>
            <td>
                {{ form.mail(class_="mail") }}<br />
                <small id="mail">Entrer l'adresse mail de l'utilisateur</small>
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">Mot de passe</label>
            </td>
            <td>
                {{ form.password(class_="mot de passe") }}<br />
                <small id="password">Entrer un mot de passe</small>
            </td>
        </tr>
    </table>

    <input class="btn" type="submit" value="Ajouter">
</form>