<form class="formulaire-connexion" action="{{url_for('connexion')}}" method="post" name="connexion">
    {{ form.hidden_tag() }}

    <table>
        <tr>
            <td>
                <label for="pseudo">Pseudo de l'utilisateur</label>
            </td>
            <td>
                {{ form.pseudo(class_="pseudo") }}<br/>
                <small id="pseudo">Entrer le pseudo</small>
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">Mot de passe</label>
            </td>
            <td>
                {{ form.password(class_="password") }}<br/>
                <small id="password">Entrer un mot de passe</small>
            </td>
        </tr>
    </table>

    <input class="btn" type="submit" value="Ajouter">
</form>