{% extends "partials/conteneur.html" %}

{% block contenu%}

    <!-- Section de présentation du champignon -->
    <section class="carte-identite">
        <h2>{{sous_titre}}</h2>
        
        <p>Nom complet : {{donnees.nom_complet_html}}</p>
        {% if donnees_referentiel.nom_vernaculaire %}
        <p>Nom vernaculaire : {{donnees.nom_vernaculaire}}</p>
        {% endif %}

    </section>

    <!-- Section avec la carte représentant les observations de ce champignon -->
    <section class="carte">
        
    </section>

{%endblock%}