{% extends "partials/conteneur.html" %}

{% block contenu%}

    <!-- Section de présentation du champignon -->
    <section class="carte-identite">
        <h2>Nom du champignon</h2>
        
        <!-- Compléter avec un tableau donnant les caractéristiques du champignon
        
        couleur                             rouge, blanc, gris

        taille minimum du chapeau           5
        
        taille maximum du chapeau           15

        etc.
        
        -->

    </section>

    <!-- Section avec la carte représentant les observations de ce champignon -->
    <section class="carte">
        
    </section>

{%endblock%}