{% extends "partials/conteneur.html" %}

{% block contenu %}
<div class="index-page">
    <div class="homepage-hero">
        <div class="hero-titre">
            <h2>L'encyclopédie des champignons français</h2>
            <p>Avec Champiscope explorez, apprenez et collectionnez les fiches d'identité des champignons</p>
        </div>
        <div class="hero-content">
            <div class="hero-actions">
                <h3>Une base de données complète</h3>
                <a href="/recherche" class="btn btn-primary">Explorer les espèces</a>
                <p>Explorez plus de <strong>{{ nombre_especes }}</strong> espèces référencées avec descriptions
                    détaillées.</p>
            </div>
            <div class="hero-actions">
                <h3>Cartographie</h3>
                <p>Visualisez les observations de champignons à travers la France pour chacune des espèces. Champiscope
                    référence {{ nombre_observations }} observations pour toutes les espèces confondues.</p>
                <figure>
                    <img width="700px" src="{{url_for('static', filename='images/carte_observations.png')}}" />
                    <figcaption>Carte montrant la répartition des observations en France réalisée avec Tableau<br /><a
                            href="https://public.tableau.com/shared/5YX2J794G?:display_count=n&:origin=viz_share_link">Lien
                            vers la carte sur Tableau</a></figcaption>
                </figure>
            </div>
            <div class="hero-actions">
                <h3>Une expérience personnalisable</h3>
                <a href="/utilisateur/inscription" class="btn btn-secondary">Créer votre profil</a>
                <p>Pour savoir quel champignon correspond le mieux à ta personnalité</p>
                <img width="400px" src="{{url_for('static', filename='images/quel_champi_es_tu.png')}}" />
                <p>Pour tester tes connaissances en comestibilité des champignons</p>
                <img width="300px" src="{{url_for('static', filename='images/comestible_ou_pas.png')}}" />
                <p>Pour créer ta collection de champignons en créant ta liste de champignons préférés</p>
                <img width="400px" src="{{url_for('static', filename='images/collection_cartes.png')}}" />
            </div>
        </div>
    </div>
</div>
{% endblock %}