{% extends "partials/conteneur.html" %}

{% block contenu%}

<section class="about-section">
    <h2>Mentions légales</h2>

    <h3>Édition du site</h3>
    <p>
        <strong>Champiscope</strong> est un projet réalisé dans le cadre du Master 2 
        <em>Archives - Technologies numériques appliquées à l’histoire</em> de l’École nationale des chartes.
    </p>
    <p>
        Équipe de conception : Amélie Dogan, Thibault Sabin et Lilla Conte.  
    </p>

    <h3>Propriété intellectuelle</h3>
    <p>
        L’ensemble des contenus présents sur <strong>Champiscope</strong> est protégé par le droit d’auteur.  
        Toute reprise, reproduction ou réutilisation des contenus doit être accompagnée 
        d’une citation explicite de la source et du lien vers notre site.
    </p>

    <h3>Responsabilité</h3>
    <p>
        Les informations présentées sur ce site sont fournies à titre indicatif.  
        Nous nous efforçons d'assurer leur exactitude, mais nous ne pouvons garantir 
        l'absence d'erreurs ou d'omissions.  
        L’utilisateur est seul responsable de l’usage qu’il fait des informations fournies sur <strong>Champiscope</strong>.
    </p>

    <h3>Collecte des données</h3>
    <p>
        Le site peut collecter certaines données personnelles (ex. : adresse e-mail, préférences utilisateur).  
        Ces données ne sont ni vendues ni cédées à des tiers.  
        Conformément au RGPD, vous disposez d'un droit d’accès, de rectification et de suppression de vos données.
    </p>

    <h3>Modification des mentions légales</h3>
    <p>
        Nous nous réservons le droit de modifier ces mentions légales à tout moment, 
        afin de les adapter aux évolutions du site ou aux exigences légales.
    </p>

    <p><strong>Dernière mise à jour :</strong>25/03/3025</p>
</section>

{%endblock%}