{% extends "partials/conteneur.html" %}

{% block contenu%}

<section class="about-section">
    <h2>Remerciements</h2>

    <p>
        Nous souhaitons exprimer notre gratitude à toutes les personnes qui ont contribué, 
        de près ou de loin, à la réalisation de <strong>Champiscope</strong>.
    </p>

    <h3>Nos enseignants</h3>
    <p>
        Un grand merci à Lauryne Lemosquet, Axel Roche-Dioré, Maxime Challon, et Emanuelle Bermès, nos professeurs du Master 2 <em>Archives - Technologies numériques appliquées à l’histoire</em> 
        de l’École nationale des chartes, qui nous ont accompagnés tout au long de ce projet et ont su nous guider 
        avec bienveillance et expertise.
    </p>

    <h3>Nos sources</h3>
    <p>
        La construction de notre base de données et la documentation des espèces de champignons ont été rendues 
        possibles grâce à des ressources précieuses, notamment celles fournies par des institutions spécialisées, 
        des bases de données publiques et des experts en mycologie.
    </p>

    <h3>Nos testeurs</h3>
    <p>
        Merci aux personnes qui ont pris le temps d’explorer le site, de tester les quiz et de nous faire des retours 
        constructifs. Vos suggestions ont été essentielles pour améliorer l’expérience utilisateur.
    </p>
</section>


{%endblock%}