<div class="carte-champignon">
    <a href="{{ url_for('champi', taxref=champignon.taxref_id) }}">
        {% if champignon.iconographies and champignon.iconographies|length > 0 %}
            <img class="img-carte-champi" src="{{ champignon.iconographies[0].url_image }}" loading="lazy"  referrerpolicy="no-referrer" alt="{{ champignon.nom_vernaculaire or champignon.nom }}">
        {% else %}
            <div class="absence-image"><p>Pas d'image disponible</p></div>
        {% endif %}
        
        <div class="carte-info">
            <h3>{{ champignon.nom }}</h3>
            {% if champignon.nom_vernaculaire %}
            <p>{{champignon.nom_vernaculaire}}</p>
            {% else %}
            <p><i>Aucun nom vernaculaire connu</i></p>
            {% endif %}
            <p class="nom-scientifique">{{ champignon.nom_complet_html|safe }}</p>
        </div>
    </a>
</div>